<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <script>
        setTimeout(() => {
            window.location.href = "/students/<%= studentId %>"; // Redirect after 3 seconds
        }, 2000);
    </script>
</head>
<body>
    <h2 style="color: green; text-align: center;">Congrats! Data added.</h2>
    <p style="color: rgb(147, 209, 234); text-align: center;">Redirecting to student details...</p>
</body>
</html>
