<style>
    div {
        margin: 0;
        padding: 0;
        background-color: rgb(177, 239, 218);
    }/*ye sare divs ke style ko override kr dega kyuki sabse last me aa rha */
</style>
<div>
    <h4>Contact Devlopers Here : </h4>
    <ul>
        <li>Name : Anupam Kumar</li>
        <li>UID : 21BCS9660</li>
        <li>Email : ianupam@gmail.com</li>
        <li>Contact : +91-1234560987</li>
    </ul>
</div>
