<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Jai Shree Radha</h1>
    <h3><%=2+3*5%></h3> <!--Returns result after evaluating as a string-->
    <!--These are examples of interpolation syntax-->
    <h3><%="Anupam Kumar".toUpperCase()%></h3>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing 
        elit. Adipisci, magni quis. Aperiam temporibus sit
        officia natus, repellendus dolor tempore! Hic, 
        quibusdam unde? Tempora nulla hic quo, officia 
        quae ipsam dicta.
    </p>
    <button>Click Me !</button>
</body>
</html>