<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludo Dice</title>
</head>
<body>
    <h1>Number rolled on dice is : <%=diceNumber%></h1>
    <!--we are getting the value randNumber through the key diceNumber-->
    <!--Although if we had wished then we could have done that code here only-->
    <!--But we wanted to have a taste of gettind data from database or any other source-->
</body>
</html>