<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludo Dice</title>
</head>
<body>
    <h1>Number rolled on dice is: <%= diceNumber %></h1>

    <!--If else laga ke check kr rhe even and odd-->
    <% if (diceNumber % 2 === 0) { %>
        <h2>Nice! You Got Even Number</h2>
    <% } %>

    <% if (diceNumber % 2 === 1) { %>
        <h2>Nice! You Got Odd Number</h2>
    <% } %>
    
    <!--Loop laga ke peeche se jo array aaya hai uske items print kra rhe-->
    <ul>
        <h3>Range of dice is : </h3>
        <% avail.forEach(function(item){ %>
            <li type="square"><%= item %></li>
        <% }) %>
    </ul>
</body>
</html>
